<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="bkg">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="bkg2">
    <ion-card class="welcome-card">
      <ion-img src="/assets/bkgnossi.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Be Differnt. Be Nossi</ion-card-subtitle>
        <ion-card-title id="welcome">Welcome to Nossi College of Art</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <!-- <ion-list>
          <ion-item id="page" *ngFor="let page of pages"(click)="showPage(page.id)">
            {{ page.title.rendered }}
          </ion-item>
        </ion-list> -->
        <ion-list>
          <ion-item *ngFor="let category of catergories" (click)="loadCategory(category?.id)">
            {{ category?.name }}
          </ion-item>
        </ion-list>
        <!-- <ion-tabs>
  <ion-tab tab="home">Home Content</ion-tab>
  <ion-tab tab="settings">Settings Content</ion-tab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-label>Home</ion-label>
      <ion-icon name="home"></ion-icon>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-label>Settings</ion-label>
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs> -->
        
      </ion-card-content>

      <ion-card-content id="line">
        <p>96% of people who graduate get a job in their field of study.</p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        
      </ion-card-content>
    </ion-card>

   

</ion-content>

